<h1>Country Details</h1>

<div>Country name: {{items.country}}</div>
<div>Country Code: {{items.code}}</div>
<div>confirmed:{{items.confirmed}}</div>
<div>recovered: {{items.recovered}}</div>
<div>critical: {{items.critical}}</div>
<div>deaths: {{items.deaths}}</div>
<div>latitude: {{items.latitude}}</div>
<div>longitude: {{items.longitude}}</div>
<div>lastChange: {{items.lastChange}}</div>
<div>lastUpdate: {{items.lastUpdate}}</div>
<div>Is favourite: {{items.favourite}}</div>
<div>comments: {{items.comments}}</div>