
<h1>Country wise Covid Details</h1>
<div class="d-flex justify-content-center" *ngIf="hideloader"> 
    <div class="spinner-border" role="status"> 
        <span class="sr-only" id="loading"> <p>Loading...</p></span> 
    </div> 
</div> 
    <div class="table">
     
    <div class="css-table-header">
       <div>Confirmed Cases</div>
       <div>Critical Cases</div>
       <div>Deaths</div>
       <div>Recovered</div>
    </div>
    <div class="css-table-body">
        <div class="css-table-row">
         <!--  {{r.CriticalCases}} {{r.Deaths}} {{r.Recovered}} -->
         <div>{{items.confirmed}}</div>
         <div>{{items.critical}}</div>
         <div>{{items.deaths}}</div>
         <div>{{items.recovered}}</div>
       
    </div>
</div></div>

<nav>
   
      <a routerLink="/countries" routerLinkActive="active">List of Countries</a><br>
      <a routerLink="/input-page" routerLinkActive="active">Covid details based on country name</a><br>
      <a routerLink="/input-page" routerLinkActive="active">Covid details based on country code</a>
    </nav>

   